In [22]:
import numpy as np
import pandas as pd
import os
import urllib

In [8]:
url="https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path=os.path.join("data","covid")

In [9]:
os.makedirs(file_path,exist_ok=True)
csv_path=os.path.join(file_path,"WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data\\covid\\WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x1db36d18c90>)

In [10]:
df=pd.read_csv(csv_path)

In [11]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
323263,2023-09-23,ZW,Zimbabwe,AFRO,0,265748,0,5718
323264,2023-09-24,ZW,Zimbabwe,AFRO,0,265748,0,5718
323265,2023-09-25,ZW,Zimbabwe,AFRO,0,265748,0,5718
323266,2023-09-26,ZW,Zimbabwe,AFRO,0,265748,0,5718
323267,2023-09-27,ZW,Zimbabwe,AFRO,0,265748,0,5718

In [12]:
df_index=df.index
df_index

RangeIndex(start=0, stop=323268, step=1)

In [13]:
df_cols=df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [15]:
df_index.values

array([     0,      1,      2, ..., 323265, 323266, 323267], dtype=int64)

In [16]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2023-09-25', 'ZW', 'Zimbabwe', ..., 265748, 0, 5718],
       ['2023-09-26', 'ZW', 'Zimbabwe', ..., 265748, 0, 5718],
       ['2023-09-27', 'ZW', 'Zimbabwe', ..., 265748, 0, 5718]],
      dtype=object)

In [17]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [18]:
df.shape

(323268, 8)

In [19]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [20]:
df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
323263,2023-09-23,ZW,Zimbabwe,AFRO,0,265748,0,5718
323264,2023-09-24,ZW,Zimbabwe,AFRO,0,265748,0,5718
323265,2023-09-25,ZW,Zimbabwe,AFRO,0,265748,0,5718
323266,2023-09-26,ZW,Zimbabwe,AFRO,0,265748,0,5718
323267,2023-09-27,ZW,Zimbabwe,AFRO,0,265748,0,5718

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323268 entries, 0 to 323267
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      323268 non-null  object
 1   Country_code       321904 non-null  object
 2   Country            323268 non-null  object
 3   WHO_region         323268 non-null  object
 4   New_cases          323268 non-null  int64
 5   Cumulative_cases   323268 non-null  int64
 6   New_deaths         323268 non-null  int64
 7   Cumulative_deaths  323268 non-null  int64
dtypes: int64(4), object(4)
memory usage: 19.7+ MB